@charset "UTF-8";

/* Estilo geral*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1{
    color: white;
    text-shadow: 3px 2px 4px rgb(103, 90, 90);
    padding: 10px;
}